@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

* {
  cursor: none;
}

.cursor
{
  position: fixed;
  top: 0;
  left: 0;
  rotate: 10;
  width: 19px;
  height: 19px;
  background: #fffbd2d0;
  border-radius: 100%;
  border: 1.5px solid #2e2e2e;
  pointer-events: none;
  z-index: 1000;
}

.press-btn {
    transition: transform 0.1s, box-shadow 0.1s;
}

.press-btn:hover {
    transform: scale(0.95);
}

.press-btn:active {
    transform: scale(0.9);
}

.flip-card-container
{
  perspective: 1500px;
  position: relative;
}

.flip-card-inner
{
  position: relative;
  width: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-inner.flipped
{
    transform: rotateX(180deg);
}

.flip-card-front, .flip-card-back
{
    width: 100%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.flip-card-front
{
    position: relative;
}

.flip-card-back
{
    transform: rotateX(180deg);
    min-height: 100%;
}

@media (max-width: 700px)
{
    .intro-card
    {
        flex-direction: column;
        text-align: center;
    }

    .intro-socials
    {
        justify-content: center;
    }

    .blog-card-body
    {
        flex-direction: column;
    }

    .blog-card-gif
    {
        width: 100% !important;
        height: auto !important;
    }

    .project-grid
    {
        grid-template-columns: 1fr !important;
        width: 100% !important;
    }
}